/* Estilos genéricos */
@font-face{

}

html{
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    
}


/* Estilos especificos */
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C6291;
    color:#FFFFFF;
    height: 111px;
    padding: 0px 45px;
}
.logotipo{
    display:flex;
    align-items: flex-end; 
    font-style: italic;
    
}
.logotipo__marca{
   
    font-size: 65px;
}

.navegador{
width: 40%;
display: flex;
justify-content: space-between;

}

.navegador a{
    color:#E6E6E6;
    text-decoration: none;
    font-size: 18px;
}

.titulo{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.titulo__texto{
 
    color:rgb(225, 234, 252);
    font-size: 48px;
}
.titulo__lineas{
    height: 1px;
    background-color: rgb(225, 234, 252);
}
.tresCajas{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:#707070;
    font-size: 25px;
}

.tresCajas__posicion1{
    background-color: #E4EAF7;
}
.tresCajas__posicion2{
    background-color: #C7D7F8;
}
.tresCajas__posicion3{
    background-color: #ABC3F7;
}



}
.precios{
    color:white;
    font-size: 48px;
}